<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klaviyo Api</title>
</head>
<body>
    <h1>Klaviyo API</h1>
    <ul class="list-group">
        <li>
            <a href="/events" class="list-group-item text-dark">Events</a>
        </li>
    </ul>
</body>
</html>